body{
    font-family: 'Poppins', sans-serif;
}
.card{
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    border: none;
}
.card:hover{
    transform: scale(1.03);
}
.card img{
    width: 65%;
    margin: 0 auto;
    margin-top: 5px;
}
.not-found{
    display: none;
}
.features p{
    line-height: 12px;
}

.loading{
    width: 45vh;
    margin: 0 auto;
    display: none;
}
.show-more{
    display: none;
    margin: 20px 0;
}
.details{
    margin-top: 15px;
}
#feature{
    display: none;
    overflow-wrap: break-word;
    hyphens: auto;
    width: 95%;
    margin: 0 auto;
}
.features span{
    font-weight: bold;
    font-size: 20px;
}